#delete-task-modal {
    position: relative !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
}

#delete-task-modal p{
    margin-bottom: 0;
    margin-top: 0px;
}

#delete-task-modal .ar-u-sr{
    margin-bottom: 20px;
}

#delete-task-modal .delete-btns{
   width: 300px;
   display: flex;
   justify-content: space-between;
}

#delete-task-modal .delete-btns button:last-child {
    background-color:red ;
    color: var(--white);
}

/* media queries */

@media screen and (max-width: 450px) {
    #delete-task-modal .delete-btns {
        width: 100%;
        font-weight: 500;
    }
}
