.register-fm {
    width: 100%;
    display: flex;
    padding-top: 50px;
}

.register-fm .form-1 {
    width: 100%;
    margin-left: 70px;
}

.register-fm .reg-right {
    width: 100%;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.register-fm .form-1 h1 {
    padding-left: 0px !important;
    margin-top: 0px;
}

.register-fm .form-1 h3 {
   font-size: 20px;
   font-weight: 500;
}


.register-fm form {
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;
}

.register-fm .field {
    width: 100%;
    margin: 0 auto;
}


.register-fm input {
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    margin-top: 10px;
    font-size: 15px;
    font-family: 'Inter', sans-serif;
    border-radius: 6px;
    border: 1px solid rgb(195, 194, 194);
    outline:none;
    background-color: var(--white);
    color: var(--black);
    padding-left: 5px;
    box-sizing: border-box;
}

.register-fm input::placeholder, .register-fm input::-webkit-input-placeholder{
    color: var(--black);
    font-family: 'Inter';
}

.register-fm input[type = 'text'], .register-fm input[type = 'password'], .register-fm input[type= 'email']{
    font-family: 'Inter';
}

.register-fm .pass{
    position: relative;
}

.register-fm .pass .show-hide{
    position: absolute;
    height: 20px;
    width: 40px;
    top: 27%;
    right: 1.5%;
    padding: 0px;
    margin: 0px;
    background-color: transparent;
    border: none;
    background-color: var(--white);
    cursor: pointer;
}

.register-fm .pass .show-hide svg{
    fill: rgba(0, 0, 0, 0.533);
}

.register-fm  .sign-up-btn1 {
    background-color: var(--logoColor);
    color: var(--white);
    width: 100%;
}


.register-fm  .sign-up-btn1 i {
    scale: 1.7;
    margin-right: 20px;
}

.register-fm .error-message {
    
    margin-top: -15px;
    color: red;
}

.other-signin-option {
    margin-top: 20px;
    width: 400px;
    display: flex;
    justify-content: space-between;
}

.other-signin-option button {
    width: 45%;
    border: none;
}

.other-signin-option button {
    display: flex;
    gap: 30px;
    
    border: solid 1px rgb(186, 185, 185);
    background-color: white !important;
    font-weight: 600;
    font-size: 15px;
}

.already-hv-acc span{
    cursor: pointer;
    font-weight: 600;
    color: var(--logoColor);
}

.already-hv-acc span:hover{
    filter: contrast(.5);
}


.other-signin-option .facebook-btn svg {
    fill: #3b5998;
}

.other-signin-option button svg{
    width: 20px;
}


/* media queries............... */

@media screen and  (max-width : 992px){
    .register-fm {
        justify-content: center;
        align-items: center;
    }

    .register-fm .form-1 {
        width: fit-content;
        margin-left: 20px;
        margin-right: 20px;
    }

    .reg-right {
        display: none !important;
    }

    .reg-right p {
        width: 100%;
    }

    .reg-right img {
        display: none;
    }
}

@media screen and  (max-width : 792px){
    .reg-right{
        display: none;
    }

    .register-fm {
        justify-content: center;
        align-items: center;

    }
}


@media screen and  (max-width : 439px){
    .register-fm .form-1 {
        width: 100vw;
        margin-left: auto;
        margin-right: auto;
        padding-left: 15px;
        padding-right: 15px;
    }

    .register-fm form {
       width: 100%
    }
}
