#create-board-modal {
  max-height: 450px;
  height: fit-content;
}

#create-board-modal .add-new-board-hd {
    margin-top: 0;
    margin-bottom: 0;
}

#create-board-modal .board-hd-closebtn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.board-hd-closebtn .close-board-modal {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.board-hd-closebtn .close-board-modal:hover {
    color: var(--logoColor);
}

#create-board-modal form {
    display: grid;
}

#create-board-modal input {
    width: calc(100% - 12px);
    height: 40px;
    margin-bottom: 20px;
    margin-top: 10px;
    font-size: 13px;
    font-family: "Plus Jakarta Sans", sans-serif;
    border-radius: 6px;
    border: rgb(195, 194, 194) solid 1px;
    outline-offset: 4px;
    background-color: var(--white);
    outline-color: var(--primary-color);
    outline-width: 2px;
    color: var(--black);
}

#create-board-modal input::placeholder, #create-board-modal input::-webkit-input-placeholder{
    color: var(--textGrey);
    font-family: Inter;
}

#create-board-modal input[type = 'text']{
    font-family: Inter;
    padding-left: 10px;
}

#create-board-modal .pp {
    color: rgb(130, 143, 163);
    display: block;
    font-size: 12px;
    font-weight: 700;
    line-height: 15px;
    margin-bottom: 8px;
}

#create-board-modal .column {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

#create-board-modal .column p {
    font-size: 13px;
    font-weight: 400;
}


/* checkbox */


  .checkbox:hover .check {
    stroke-dashoffset: 0;
  }

  .checkbox {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 30px;
  }
  .checkbox .background {
    fill: #ccc;
    transition: ease all 0.6s;
    -webkit-transition: ease all 0.6s;
  }
  .checkbox .stroke {
    fill: none;
    stroke: #fff;
    stroke-miterlimit: 10;
    stroke-width: 2px;
    stroke-dashoffset: 100;
    stroke-dasharray: 100;
    transition: ease all 0.6s;
    -webkit-transition: ease all 0.6s;
  }
  .checkbox .check {
    fill: none;
    stroke: #fff;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 2px;
    stroke-dashoffset: 22;
    stroke-dasharray: 22;
    transition: ease all 0.6s;
    -webkit-transition: ease all 0.6s;
  }
  .checkbox input[type=checkbox] {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    margin: 0;
    opacity: 0;
    -appearance: none;
    -webkit-appearance: none;
  }
  .checkbox input[type=checkbox]:hover {
    cursor: pointer;
  }
  .checkbox input[type=checkbox]:checked + svg .background {
    fill: var(--logoColor);
  }
  .checkbox input[type=checkbox]:checked + svg .stroke {
    stroke-dashoffset: 0;
  }
  .checkbox input[type=checkbox]:checked + svg .check {
    stroke-dashoffset: 0;
  }

.create_board {
    margin-top: 20px;
    background-color: var(--logoColor);
    color: var(--white);
}

.create_board:disabled {
  opacity: .5;
}


/* create-board-201 */

.close-successful-modal {

  width: 100%;
  display: flex;
  justify-content: right;
}