#create-board-modal {
  max-height: 450px;
  height: fit-content;
}

#create-board-modal .add-new-board-hd {
    margin-top: 0;
    margin-bottom: 0;
}

#create-board-modal .board-hd-closebtn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.board-hd-closebtn .close-board-modal {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.board-hd-closebtn .close-board-modal:hover {
    color: var(--logoColor);
}

#create-board-modal form {
    display: grid;
}

#create-board-modal input {
    width: calc(100% - 12px);
    height: 40px;
    margin-bottom: 20px;
    margin-top: 10px;
    font-size: 13px;
    font-family: "Plus Jakarta Sans", sans-serif;
    border-radius: 6px;
    border: rgb(195, 194, 194) solid 1px;
    outline-offset: 4px;
    background-color: var(--white);
    outline-color: var(--primary-color);
    outline-width: 2px;
    color: var(--black);
}

#create-board-modal input::placeholder, #create-board-modal input::-webkit-input-placeholder{
    color: var(--textGrey);
    font-family: Inter;
}

#create-board-modal input[type = 'text']{
    font-family: Inter;
    padding-left: 10px;
}

#create-board-modal .pp {
    color: rgb(130, 143, 163);
    display: block;
    font-size: 12px;
    font-weight: 700;
    line-height: 15px;
    margin-bottom: 8px;
}

#create-board-modal .column {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

#create-board-modal .column p {
    font-size: 13px;
    font-weight: 400;
}


/* checkbox */



.create_board {
    margin-top: 20px;
    background-color: var(--logoColor);
    color: var(--white);
}

.create_board:disabled {
  opacity: .5;
}