:root {
  /* font-family: "Plus Jakarta Sans", sans-serif; */
  font-family: Inter;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: black;
  background-color: white;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;
  /* colors */
  --white: white;
  --black: black;
  --backgroundColor:#F4F7FD;
  --navGrey:rgb(69, 68, 68);
  --textGrey:rgb(130, 143, 163);
  --borderGrey:rgb(225, 225, 225);
  --introGrey:rgb(42, 42, 42);
  --logoColor: #635FC7;
  --placeHolder:rgb(175, 172, 172);
  --listHoverColor: #d5d3fb;
  
}

@font-face {
  font-family: Inter;
  src: url(../src/assets/fonts/Inter/Inter-VariableFont_slnt\,wght.ttf);
}


button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 12px 28px;
  font-size: 1em;
  font-weight: 500;
  font-family: inter;
  color:var(--black) ;
  background-color: var(--white);
  cursor: pointer;
  transition:filter .1s ease,transform .1s ease-in;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;

}

button:hover {
  filter: brightness(.95);
  transform: translateY(-2px);
}

.trash svg{
  width: 100px;
}


/* error modal */
.err-mdal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.err-mdal img {
  width: 100px !important;
  margin-bottom: 20px;
}

.err-mdal h3 {
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 25px;
}

.err-mdal p {
  margin-top: 10px !important;
  font-size: 18px;
  font-weight: 300;
  line-height: 1;
  text-align: center;
}

.err-hd-closebtn {
  width: 100%;
  display: flex;
  justify-content: right;
  cursor: pointer;
}

.err-hd-closebtn svg {
  width: 20px !important;
}

.err-hd-closebtn:hover svg{
  color: var(--logoColor);
}



/* successful-201 */

.successful-201 {
  display: grid;
  place-items: center;
  line-height: .6;
  width: 100%;
}

.successful-201 svg{
  cursor: pointer;
  width: 25px;
  
}

.successful-201 svg:hover{
  fill: var(--logoColor);
}

.successful-201 img {
  width: 100px ;
  height: 100px;
}

.successful-201 h3 {
  margin-top: 20px !important;
  margin-bottom: 0px !important;
  font-size: 25px;
}

.successful-201 p {
  margin-top: 20px !important;
  font-size: 20px;
  font-weight: 300;
  line-height: 1;
  text-align: center;
}

.close-successful-modal {

  width: 100%;
  display: flex;
  justify-content: right;
}



input:focus {
  outline-offset:2px !important;
  outline-color: var(--logoColor) !important ;
  outline-style: solid;
}

.logo{
  display: flex;
  align-items: center;
  height: fit-content;
  color: var(--logoColor);
  font-size: 35px;
  padding: 0;
  padding-left: 50px;
  padding-right: 10px;
  font-weight: bold;
}

.logo-2 {
  height: 50px;
  width: 50px;
  background-color: var(--logoColor);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100vw;
  font-size: 28px;
  margin-left: 10px;
}

.ReactModalPortal {
  z-index: 2000;
  position: relative;
}

.ReactModal__Overlay {
  overflow-y: auto;
  scroll-behavior: smooth;
  padding-bottom: 50px;
  padding-top: 50px;
  background-color: rgba(0, 0, 0, 0.606) !important;
}

.ReactModal__Content {
  position: unset !important;
  width: 400px;
  margin: auto;
  height: 450px;
  border-radius: 10px !important;
  border: none !important;
    
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.ReactModal__Content::-webkit-scrollbar {
  display: none;
}


@media screen and (max-width: 450px) {
  .ReactModal__Content {
    width: 80vw !important;
    
  }
}

@keyframes slideInLeft {
  0% {transform: translateY(-200%); opacity: 0;}
  100%{transform: translateY(15%); opacity: 1;}
}

@keyframes slideOutLeft {
  0% {transform: translateY(23%); opacity: 1;}
  100%{transform: translateY(-200%); opacity: 0;}
}


input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-background-clip: text;
    -webkit-text-fill-color: #000000;
    transition: background-color 5000s ease-in-out 0s;
    box-shadow: inset 0 0 20px 20px #ffffff;
}